@import "variaveis.less";
@import "mapas.less";

@breakpointMobile: ~"(max-width: 767px)";
@breakpointTablet: ~"(min-width: 768px) and (max-width: 1023px)";

// criando mixing
.marginBottom8{
    margin-bottom: 8px;
}


//Criando reset
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #colors[backgroundColor];
    color: #colors[textColor];
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
   
    //precisamos ter cuidado com o efeito cascata do CSS. 
    //O breakpoint de maior largura sempre deve vir antes.
    //Se não, o menor com fundo vermelho será sobreposto, não fazendo a troca.
    @media @breakpointTablet {
        max-width: 80%;
    }

    @media @breakpointMobile{
        max-width: 70%;
    }
    
}

header {
    padding: 24px;

    .profile-avatar{
        display: block;
        margin: 0 auto 24px;
        border-radius: 50%;
    }

    .profile-bio{
        text-align: center;
        //& Substitui a palavra do classe pai profile-bio

        &-name{
            font-size: 16px; 
            .marginBottom8();
        }
        &-subtitle{
            font-size: 14px;
            .marginBottom8();

        &-description{
            font-size: 14px;
            opacity: .7;
        }

        }
    }
}

.social-links{
    display: flex; //colocar um ao lado do outro
    justify-content: space-between; //espaçamento igual entre eles
    max-width: 240px; //diminuição do espaço do container
    width: 100%; //ocupação de 100% do container
    margin: 0 auto; // centralização automática

    li{
        list-style: none; //retirando os bullets

        //Efeito de aumentar icone ao passar o mouse
        img{
            transition: all ease .3s; //transição para o efeito
            &:hover{ //evento de passar o mouse
                transform: scale(1.3); //scala do aumento
            }
        }
    }
}